@import 'tailwindcss';
@import 'nextra-theme-docs/style.css';

@variant dark (&:where(.dark *));

#docs-card {
  background-image: url(/assets/card-1.png);
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.dark #docs-card {
  background-image: url(/assets/card-1.dark.png);
}

#highlighting-card {
  min-height: 300px;
  background-image: linear-gradient(to top, transparent, #fff 50%),
    url(/assets/syntax-highlighting.svg);
  background-size: 634px;
  background-position: -6px calc(100% + 4px);
  background-repeat: no-repeat;
}

.dark #highlighting-card {
  background-image: linear-gradient(to top, transparent, #202020 50%),
    url(/assets/syntax-highlighting.svg);
}

.feat-darkmode {
  min-height: 300px;
}

.feat-darkmode h3 {
  font-size: 48px;
}

#search-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-card video {
  position: absolute;
  right: 0;
  top: 24px;
  height: 430px;
  pointer-events: none;
  max-width: 60%;
}

#fs-card {
  min-height: 240px;
}

#fs-card h3 {
  text-align: left;
  width: min(300px, 41%);
  min-width: 155px;
}

@media screen and (max-width: 1200px) {
  #highlighting-card {
    aspect-ratio: auto;
  }

  .feat-darkmode h3 {
    font-size: 4vw;
    font-size: min(48px, max(4vw, 30px));
  }
}

@media screen and (max-width: 1024px) {
  #docs-card {
    aspect-ratio: 135/86;
  }

  #search-card {
    aspect-ratio: 8/3;
  }

  #search-card h3 {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  #docs-card {
    background-position: -26px 0;
    background-size: 250%;
    min-height: 348px;
    width: 100%;
    aspect-ratio: auto;
  }
}

@media screen and (max-width: 640px) {
  #search-card {
    aspect-ratio: 2.5/2;
    justify-content: flex-start;
    align-items: center;
    min-height: 350px;
  }

  #search-card video {
    top: 43%;
    left: 0;
    margin: auto;
  }
}
